.pagenotFoundContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 786px) {
  .pagenotFoundContainer {
    width: 100%;
  }

  .imgSm {
    width: 100%;
  }
}
